.wrapper-shop{
    height: 100%;
    padding-bottom: 1rem;
}
.wrapper-shop img{
    box-shadow: 0 6px 16px #ffffff;
}

.card_container{
    position: relative;
    height: 650px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;            
}

.card_container h1 {
    text-align: left;
}

.card_container::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.scroll-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

.scroll-container section {
	width: 100%;
    height: auto;
    margin-bottom: 5rem;
}

.scroll-container section div {
	text-align: left;
}

.dots {	
	z-index: 1;
	list-style: none;
	padding: 0;
	position: absolute;	
    top: 50%;
    -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dots li a {
	padding: 10px;
	width: 4px;
	height: 5px;
	display: block;
}

.dots li a:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: rgba(255, 255, 255, 0.48);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;	
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease, background-color 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease, background-color 0.3s ease;
	-o-transition: -o-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.dots li a.active:before {
	content: '';
	background-color: #FFFFFF;
	width: 14px;
	height: 14px;
	margin-top: -4px;
	left: 7px; 
	background-color: white;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}

.dots-right {
    display: none;
    right: 10px;
}

.dots-left {
	left: 10px;
}

.shop-items{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 10%;
    margin-bottom: 1rem;
}

.shop-items .shop-img{
    width: 242px;
    height: 361px;
    margin-right: 2rem;
    background: #1a121f;
    position: relative;
    cursor: pointer;
}

.shadow-block {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s;
    padding: 5px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.shadow-block:hover{
	opacity: 1;
}

.shop-items .shop-img:hover img {
	opacity: .5;
 }

.shadow-block p{
	color: #ffff;
	z-index: 3;    
}

.shop-items .shop-img img{
    width: auto;
    z-index: 1;
    height: auto;
}

.shop-items .shop-info{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.shop-items .shop-info .text{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 200px;
    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;
}

.shop-items .shop-info .text::-webkit-scrollbar { /* chrome based */
    width: 5px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.shop-items .shop-info .text::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #D3775C;
}

@media (min-width: 992px) {
    .shop-items p{
        margin-bottom: 0rem;
    }
}

@media (min-width: 992px) and (min-height: 980px) {
    .card_container {
        height: 750px;
    }
}

@media (min-width: 992px) and (min-height: 1200px) {
    .card_container {
        height: 850px;
    }

    .wrapper-shop {
        height: 100%;
    }
}

@media (max-width: 991px) {
    .card_container{
        height: auto;
    }

    .scroll-container{
        display: none;
    }

    .shop-carousel-item {
        padding: 50px 5%;
    }

    .shop-carousel-item p {
        position: relative;
        bottom: 15%;
        width: 100%;
    }

    .card-shop{
        width: 245px;
        height: auto;
        margin: 0 auto;
    }

    .card-shop p{
        position: absolute;
        bottom: 5%;
    }

    .shop-carousel-item .text{
        width: 90%;
        margin: 50px auto;
        overflow: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 200px;
        scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
        scrollbar-width: thin !important;
        text-align: left;
    }

    .shop-carousel-item a {
        display: inline-block;
    }

    .shop-carousel-item .text p{
        bottom: 0%;
    }

    .shop-carousel-item .text::-webkit-scrollbar { /* chrome based */
        width: 5px;  /* ширина scrollbar'a */
        background: transparent;  /* опционально */
    }
    
    .shop-carousel-item .text::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #D3775C;
    }
}

@media (max-width: 768px) {
    .shop-items{
        flex-direction: column;
    }

    .shop-items .shop-info .text{
        margin: 1rem 0rem;
    }

    .shop-items .shop-img {
        width: 245px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .shop-items .shop-img img {
        width: 100%;
        height: auto;
    }
}